POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=nestjs
POSTGRES_TEST_DB=test
JWT_SECRET=
JWT_EXPIRATION_TIME=900
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION_TIME=72000
OAUTH_42_URL=https://api.intra.42.fr/oauth/
OAUTH_42_CLIENT_ID=
OAUTH_42_CLIENT_SECRET=
OAUTH_42_CALLBACK_URL=
OAUTH_42_SCOPE=public
OAUTH_42_ME_URL=https://api.intra.42.fr/v2/me
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=
JWT_VERIFICATION_SECRET=
JWT_VERIFICATION_EXPIRATION_TIME=
EMAIL_CONFIRMATION_URL=